<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Add buttons in header of the page -->
    <!-- "Start" for positioning -->
    <ion-buttons slot="start">
      <!-- Back arrow -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connaught</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Add an image -->
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/1280px-Flag_of_Connacht.svg.png">

  <!-- Add a horizontal break -->
  <hr>
  <!-- List hardcoded counties -->
  <h2>Counties of Connaught</h2>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leithrim</li>
  </ul>
</ion-content>
